<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">

<body>

  <h2 class="pc-section-title">
    <span class="fa fa-user me-2" aria-hidden="true"></span>
    <span th:text="#{owner}">Owner</span>
  </h2>

  <div class="pc-card" style="max-width: 680px;">
    <form th:object="${owner}" class="row g-0" id="add-owner-form" method="post">
      <div class="col-12">
        <input th:replace="~{fragments/inputField :: input (#{firstName}, 'firstName', 'text')}" />
        <input th:replace="~{fragments/inputField :: input (#{lastName}, 'lastName', 'text')}" />
        <input th:replace="~{fragments/inputField :: input (#{address}, 'address', 'text')}" />
        <input th:replace="~{fragments/inputField :: input (#{city}, 'city', 'text')}" />
        <input th:replace="~{fragments/inputField :: input (#{telephone}, 'telephone', 'text')}" />
      </div>
      <div class="col-12 d-flex justify-content-end mt-2">
        <button th:with="text=${owner['new']} ? #{addOwner} : #{updateOwner}"
          class="btn btn-primary" type="submit" th:text="${text}">Add Owner</button>
      </div>
    </form>
  </div>

</body>

</html>