<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org">

<body>
  <form>
    <th:block th:fragment="select (label, name, items)">
      <div th:with="valid=${!#fields.hasErrors(name)}"
        th:class="${valid ? 'mb-3 row' : 'mb-3 row has-validation'}"
        class="mb-3 row">
        <label th:for="${name}" class="col-sm-2 col-form-label fw-semibold" th:text="${label}">Label</label>
        <div class="col-sm-10">
          <select th:field="*{__${name}__}"
            th:class="${valid ? 'form-select' : 'form-select is-invalid'}">
            <option th:each="item : ${items}" th:value="${item}" th:text="${item}">dog</option>
          </select>
          <th:block th:if="${!valid}">
            <div class="invalid-feedback d-block" th:errors="*{__${name}__}" th:text="#{error}">Error</div>
          </th:block>
        </div>
      </div>
    </th:block>
  </form>
</body>

</html>